.ReactButtons a.ReactButton, span.FlagMenu a.ReactButton {
    display: none!important;
}

.Reactions a.ReactButton {
    display: none!important;
}

.Reactions a.Popup.ReactButton {
    display: none!important;
}

span.ReactButtons a.ReactButton.ReactButton-Like {
    display: flex !important;
    margin-top: 0;
}

span.ReactButtons a.ReactButton.ReactButton-Like .Count {
    margin-top: 5px;
    margin-right: 0;
    margin-left: 24px;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
}

.Comment span.ReactButtons a.ReactButton.ReactButton-Like {
    min-width: 44px;
    height: 44px;
    display: flex;
    font-size: 17px;
    padding: 0 12px;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
}

.Comment span.ReactButtons a.ReactButton.ReactButton-Like .Count {
    /* margin-left: 30px;
    margin-right: 5px;
    font-size: 17px;
    line-height: 20px;
    color: #6C6767; */
}

span.ReactButtons a.ReactButton.ReactButton-Like .additional-label {
    font-size: 17px;
    line-height: 20px;
    color: #6C6767;
}

.discussion-list-footer {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 50px;
    padding: 0 20px;
    color: #4F4F4F;
}

.discussion-list-footer a.btn-default {
    margin: 30px auto;
    display: none !important;
}

.discussion-list-footer img {
    padding-top: 4px;
    margin-bottom: 16px;
}


/* EditDiscussion form */

.ItemDiscussion.Editing .placeholder.close {
    height: 0;
    overflow: hidden;
}

.ItemDiscussion.Editing .vanilla-bjyl8i-richEditor-paragraphMenu {
    left: 20px;
}

.ItemDiscussion.Editing .content {
    padding: 15px !important;
    background: #eee !important;
    width: 100% !important;
    max-width: 100% !important;
    transition: 0.3s all;
    color: rgba(71, 82, 93, .8) !important;
    border-radius: 6px;
}

.ItemDiscussion.Editing .content .placeholder {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    color: #828282 !important;
}

.ItemDiscussion.Editing .content .placeholder .icon {
    border-radius: 50%;
    background: white;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
}

.ItemDiscussion.Editing .content .placeholder img {
    width: 27px;
}

.ItemDiscussion.Editing .selects {
    display: flex;
    margin-top: 40px;
}

.ItemDiscussion.Editing span.space {
    width: 30px;
}

.ItemDiscussion.Editing .selects>div {
    flex: 1;
}

.ItemDiscussion.Editing .Buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.ItemDiscussion.Editing {
    position: relative;
    z-index: 0;
    border-radius: 6px;
}

.ItemDiscussion.Editing .close-icon {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    z-index: 10;
}

.ItemDiscussion.Editing .richEditor-frame {
    border: none !important;
    background: transparent !important;
}

.ItemDiscussion.Editing .verfied-info {
    display: none!important;
}

.ItemDiscussion.Editing .not-published-badge {
    display: none!important;
}

.MessageList.Editing .OptionsMenu {
    display: none!important;
}

.MessageList.Editing .Item-Footer {
    display: none!important;
}

.MessageList.Editing .Item-Body {
    margin-bottom: 0;
}

.EditDiscussionDetail .selects {
    display: flex;
    margin-top: 25px;
}

.EditDiscussionDetail .selects {
    display: flex;
    margin-top: 40px;
}

.EditDiscussionDetail {
    background-color: white;
    padding: 40px;
}

.EditDiscussionDetail .content {
    padding: 5px !important;
    background: #eee !important;
    width: 100% !important;
    max-width: 100% !important;
    transition: 0.3s all;
    color: rgba(71, 82, 93, .8) !important;
    border-radius: 6px;
}

.EditDiscussionDetail .space {
    width: 30px;
}

.EditDiscussionDetailPage .sidebar:hover {
    height: 100%;
}

.Discussion .modal-confirm.restore button.Close,
.Discussions .modal-confirm.restore button.Close {
    display: none;
}

.Discussion .modal-confirm.restore .modal-title,
.Discussions .modal-confirm.restore .modal-title {
    font-size: 20px;
    margin-top: 20px;
}

.Discussion .modal-confirm.restore #ConfirmForm
.Discussions .modal-confirm.restore #ConfirmForm {
    margin-top: 30px;
}

.Discussion .modal-confirm.restore .modal-footer,
.Discussions .modal-confirm.restore .modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Discussion .modal-confirm.restore .modal-footer a,
.Discussions .modal-confirm.restore .modal-footer a {
    color: black;
    font-family: "ChromaticaBold";
    font-size: 15px !important;
    display: none;
}

.Discussion .modal-confirm.restore .modal-footer button,
.Discussions .modal-confirm.restore .modal-footer button {
    border-radius: 38px !important;
    background: white;
    font-family: "ChromaticaBold";
    padding: 10px 30px !important;
    font-size: 15px !important;
    width: max-content !important;
    white-space: nowrap;
    height: 44px;
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
    box-shadow: 3px 5px 0px #1a1919;
    transition: 0.3s all;
}

.Discussion .modal-confirm.restore .modal-footer button:focus,
.Discussions .modal-confirm.restore .modal-footer button:focus {
    outline: none;
}

.Discussion .modal-confirm.restore .modal-footer button:active,
.Discussions .modal-confirm.restore .modal-footer button:active {
    box-shadow: none;
    transform: translateY(3px);
    outline: none;
}

@media screen and (max-width: 958px) {
    .discussion-list-footer a.btn-default {
        display: flex !important;
    }
    .EditDiscussionDetail .selects {
        flex-wrap: wrap;
        padding:0 25px;
        margin-top: 10px;
    }
    .EditDiscussionDetail .Buttons {
        padding: 0 25px;
    }
    .EditDiscussionDetail {
        background-color: white;
        padding: 0;
        padding-bottom: 50px;
        margin-top: -25px;
        margin-bottom: 0;
    }
    .MessageList.Editing .Item-Body {
        margin-bottom: 24px;
    }
    #vanilla_post_editdiscussion .discussion-filters-mobile {
        display: none !important;
    }
    .Comment span.ReactButtons a.ReactButton.ReactButton-Like span {
        font-size: 13px !important;
    }
}
