.BoxCategories.vanilla-categories h4 {
    font-size: 18px;
    margin-top: 0;
    color: #1A1919;
    margin-bottom: 15px;
    display: block;
    padding: 0;
}

.BoxCategories {
    margin: 0 !important;
}

.BoxCategories.vanilla-categories .vanilla-categories__viewall {
    font-size: 16px;
    line-height: 19px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #1A1919;
    padding: 12px 32px;

    border: 1px solid #1A1919;
    box-sizing: border-box;
    border-radius: 38px;

    width: max-content;
    margin: auto;
    margin-top: 50px;
}

.PanelCategories {
    background-color: white;
    border-radius: 5px;
    padding: 20px 10px;
    display: flex;
    position: relative;
}

.PanelCategories .slick-prev-arrow,
.PanelCategories .slick-next-arrow {
    position: absolute;
    top: -33px;
}

.PanelCategories .slick-prev-arrow {
    right: 40px;
}

.PanelCategories .slick-next-arrow {
    right: 0;
}

.PanelCategories .slick-disabled {
    opacity: 0.3;
}

.CategoryDetail .Card {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 11px;
}

.CategoryDetail .Card .banner {
    position: relative;
    min-height: 150px;
}

.CategoryDetail .Card .banner .category-title {
    position: absolute;
    top: 20px;
    left: 20px;
}

.CategoryDetail .Card .banner img {
    width: 100%;
    border-radius: 5px;
}

.CategoryDetail .Card .banner .PageDescription {
    font-size: 18px;
}

.CategoryDetail .Card h1 {
    font-size: 36px;
    line-height: 42px;
    color: #1A1919;
    font-weight: bold;
}

.CategoryDetail .Card h2 {
    font-size: 21px;
    line-height: 25px;
    color: #1A1919;
    font-weight: normal;
}

.CategoryDetail .Card .category-info {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.CategoryDetail .Card .category-info > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    flex-direction: column;
}

.CategoryDetail .Card .buttons {
    display: flex;
    justify-content: center;
}

.CategoryDetail .Card .buttons button {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CategoryDetail .Card .buttons button span:before {
    font-size: 17px;
    font-weight: bold;
    margin-right: 10px;
}

.CategoryDetail .Card .buttons button a {
    color: #1A1919;
    font-weight: bold;
    font-size: 18px;
    text-transform: none;
    display: flex;
    align-items: center;
}

.CategoryDetail .Card .buttons button a svg {
    margin-right: 10px;
    width: 15px;
}

.CategoryDetail .FilterBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.CategoryDetail .FilterBar > div {
    flex: 1;
}

.CategoryDetail .FilterBar nav {
    margin-top: 0;
    border: none !important;
    justify-content: flex-start;
}

.CategoryDetail .FilterBar nav .Navigation-linkContainer {
    margin: 0 15px 0 0;
}
