.BoxProfileInfo .BoxProfileInfo_detailbox {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #E0E0E0;
    padding-top: 28px;
    padding-bottom: 24px;
}

.BoxProfileInfo .BoxProfileInfo_detailbox .BoxProfileInfo_detailbox__item {
    text-align: center;
}

.BoxProfileInfo .BoxProfileInfo_detailbox .BoxProfileInfo_detailbox__item img {
    width: 32px;
}

.BoxProfileInfo .BoxProfileInfo_detailbox .BoxProfileInfo_detailbox__item a {
    justify-content: center;
    font-size: 21px;
    font-weight: bold;
}

.BoxProfileInfo .BoxProfileInfo_viewprofile {
    border-top: 1px solid #E0E0E0;
    padding-top: 28px;
}

.BoxProfileInfo .BoxProfileInfo_viewprofile .BoxProfileInfo_viewprofile__btn {
    font-size: 21px;
    line-height: 25px;
    color: #1A1919;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    width: max-content;
}

.BoxProfileInfo .BoxProfileInfo_viewprofile .BoxProfileInfo_viewprofile__btn img {
    margin-right: 12px;
    width: 19.5px;
    height: 19.5px;
}

.BoxProfileInfo .BoxProfileInfo_detailbox a span.category-icon {
    min-width: 0px !important;
}

.BoxProfileInfo .BoxProfileInfo_detailbox a.ItemLink {
    justify-content: center;
}
