.Header .ToggleFlyout .MeButton.unauthorized {
    background-color: transparent;
    display: flex;
}

.MeBox.FlyoutRight .Flyout.unauthorized {
    border-top: none;
    min-width: 218px!important;
    padding: 32px!important;
    top: 48px;
}

.additional-links__popup {
    left: 0 !important;
    border: 1px solid #DDDDDD;
    box-sizing: border-box !important;
    box-shadow: 0px 16px 40px -5px rgb(108 103 103 / 5%) !important;
    border-radius: 16px !important;
    padding: 5px 0 !important;
 }

 .additional-links__popup li a {
    font-size: 15px;
    display: flex !important;
    padding: 15px !important;
 }

.MeBox.FlyoutRight .Flyout.Flyout.authorized {
    min-width: 240px;
    border: 1px solid #DDDDDD !important;
    box-sizing: border-box !important;
    box-shadow: 0px 16px 40px -5px rgba(108, 103, 103, 0.05) !important;
    border-radius: 8px !important;
    text-align: center;
    padding: 5px 0 !important;
}

.additional-links__popup li,
.MeBox .Flyout.authorized li {
    margin: 0 10px;
}

.MeBox .Flyout.authorized li a {
    font-size: 15px;
    text-align: center;
    display: flex;
    padding: 15px;
}

.MeBox .additional-links {
    position: absolute;
    left: 0;
    top: 20px;
    margin-left: 0 !important;
}

.MeBox .Flyout.authorized li a img.ProfilePhoto {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.MeBox .Flyout.authorized li a.dropdown-menu-link-entry-signout {
    font-family: "ChromaticaBold";
    justify-content: center;
}

.MeBox.FlyoutRight .Flyout.unauthorized li {
    text-align: center;
    /* height: 44px; */
}

.MeBox.FlyoutRight .Flyout.unauthorized .SignInStudentPopupAgent:first-child{
    border-radius: 38px;
    padding: 13px;
    border: 1px solid #000000;
    font-weight: 600;
}

.MeBox.FlyoutRight .Flyout.unauthorized li:first-child a:hover {
    border-radius: 38px;
    border: 1px solid #000000;
    font-weight: 600;
    text-decoration: none;
    background-color: #05bf8e;
}

.MeBox.FlyoutRight .Flyout.unauthorized li a:hover {
    background-color: white!important;
    color: black;
    text-decoration: underline;
}

.MeBox.FlyoutRight .Flyout.unauthorized li a {
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
    color: black;
    padding-top: 13px;
}

.MeBox.FlyoutRight .Flyout li a.dropdown-menu-link-Close {
    display: none;
}

.LinksButton .BergerIcon {
    width: 30px;
}

.additional-links__popup {
    min-width: 280px !important;
}

.mobile-menu-header {
    display: none !important;
}

.mobile-menu-header .logo svg {
    height: 16px;
    width: 75px;
}

a.Flayout-Subject {
    cursor: pointer;
}

a.Flayout-Subject::after {
    background: url(../../../../themes/alloprof/design/images/icons/arrowDown.svg);
    width: 14px !important;
    height: 16px !important;
    background-repeat: no-repeat !important;
    border-width: 0 !important;
    transition: 0.3s all;
    margin-left: 10px;
    margin-bottom: 3px;
    content: '';
}

a.Flayout-Subject.Open::after {
    transform: rotate(180deg);
}

.Flayout-Subject {
    min-width: 252px !important;
    width: max-content;
    max-width: 300px;
    left: 0px;
}

a.Flayout-Subject .Flyout {
    top: 75px;
    max-height: 632px;
    overflow-y: auto;
}

.Flayout-Subject .vanilla-categories {
    padding: 0 !important;
    margin: 0;
}

.Flayout-Subject .PanelCategories {
    opacity: 1;
    flex-direction: column;
    padding: 16px !important;
}

.Flayout-Subject .PanelCategories a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.Flayout-Subject .PanelCategories a span {
    font-size: 15px !important;
    line-height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.Flayout-Subject .PanelCategories li > div {
    height: 40px;
    border-radius: 4px;
}

.Flayout-Subject .PanelCategories li > div:not(:last-child) {
    margin-bottom: 16px;
}

.Flayout-Subject .PanelCategories li > div.Depth {
    display: none;
}

.Flayout-Subject .PanelCategories a span.category-icon {
    width: 40px;
    height: 40px;
    display: flex;
    padding: 7px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: none;
    margin-right: 10px;
    margin-bottom: 0;
}

.Flayout-Subject .PanelCategories a span.category-icon img {
    margin: 0;
    max-height: 100% !important;
    max-width: 100%;
}

.MeBox .english-btn {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

@media screen and (max-width: 958px) {
    .MeBox.FlyoutRight .Flyout.authorized {
        padding: 15px !important;
    }

    .withHeader .mobile-menu-header {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        margin: 0 24px !important;
    }

    .withHeader .mobile-menu-header .Close {
        width: auto;
        position: relative;
        min-width: 0;
        top: -1px;
        right: -12px;
        font-size: 40px !important;
        line-height: 18px;
        min-height: 35px;
        font-weight: 100;
        font-family: ChromaticaThin;
        color: black;
    }

    .withHeader a {
        padding: 4px 0 !important;
    }

    .LinksButton .BergerIcon {
        width: 20px;
    }

    .MeBox.FlyoutRight .Flyout {
        border: none !important;
    }

    .MeBox.FlyoutRight .Flyout.unauthorized {
        padding: 15px 20px !important;
    }

    /* .MeBox.FlyoutRight .Flyout.authorized,
    .MeBox.FlyoutRight .Flyout.unauthorized {
        top: 0;
        flex-direction: column;
        justify-content: center;
        height: 100vh !important;
        align-items: center;
        padding-top: 100px !important;
    } */

    .additional-links__popup li,
    .MeBox .Flyout.authorized li {
        margin: 0 12px;
    }

    .MeBox.FlyoutRight .Flyout.authorized li hr {
        min-width: 300px;
    }

    .additional-links__popup li a,
    .MeBox.FlyoutRight .Flyout.authorized li a {
        font-size: 15px;
        font-weight: 300;
        min-height: 40px;
        padding: 15px 12px !important;
    }

    .MeBox.FlyoutRight .Flyout.unauthorized li a {
        font-size: 15px;
        border: none !important;
    }

    .MeBox.FlyoutRight .Flyout li a.dropdown-menu-link-Close {
        width: 60px;
        display: flex !important;
        font-size: 41px;
        line-height: 18px;
        text-decoration: none !important;
        font-family: "ChromaticaThin";
        display: block;
        font-weight: lighter !important;
    }

    .MeBox.FlyoutRight .Flyout li .dropdown-menu-link .Alert {
        background: #fa4444;
        border-radius: 20px;
        padding: 0 5px;
        color: white;
        position: absolute;
        right: 13px;
        top: 15px;
        font-size: 10px;
    }
}
