/* Report post(Flag) */
a.FlagContentPopup:before {
    content: '';
    background: url("../../../../themes/alloprof/design/images/icons/flag.svg");
    width: 13.5px;
    height: 19.5px;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.Comment a.FlagContentPopup:before {
    background: none;
    display: none;
    content: none;
}

/* div.Popup.FlagContentPopup {
    transform: none !important;
    -webkit-transform: none !important;
    left: initial !important;
    top: calc(50% - 360px) !important;
} */

div.Popup.CustomPopup .Border {
    width: 720px;
}

div.Popup.CustomPopup .Body {
    max-height: 700px !important;
    overflow: initial !important;
    padding: 80px !important;

    box-shadow: 0px 16px 40px -5px rgba(108, 103, 103, 0.05);
    border-radius: 24px;
    border: 1px solid #DDDDDD;
}

div.Popup.CustomPopup .Body .Content {
    text-align: center;
}

div.Popup.FlagContentPopup .Body .Content img.FlagAvatar {
    margin-bottom: 16px;
}

div.Popup.FlagContentPopup .Body .Content h2 {
    color: black;
    font-size: 28px;
    line-height: 31px;
}

div.Popup.FlagContentPopup .Body .Content .FlagWarningList {
    text-align: left;
}

div.Popup.FlagContentPopup .Body .Content .FlagWarningList li label {
    font-size: 18px;
    line-height: 21px;
    color: black;
    font-weight: 600;
    margin-top: 42px;
    position: relative;
}

div.Popup.FlagContentPopup .Body .Content .FlagWarningList li label input[type='radio'] {
    visibility: hidden;
    margin-right: 16px;
}

div.Popup.FlagContentPopup .Body .Content .FlagWarningList li label input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -3px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid black;
}

div.Popup.FlagContentPopup .Body .Content .FlagWarningList li label input[type='radio']:checked:before {
    width: 11px;
    height: 11px;
    border-radius: 11px;
    top: 5px;
    left: 6.5px;
    position: absolute;
    content: '';
    display: inline-block;
    visibility: visible;
    background: black;
}

div.Popup.FlagContentPopup .Body .Content .FlatReportButton {
    margin-top: 40px;
}

div.Popup.FlagContentPopup .Body .Content .FlatReportButton input {
    margin: 0 auto;
}

/* Social Sharing Popup */
div.Popup.SocialPopup .Border {
    width: 891px;
}

div.Popup.SocialPopup h2 {
    font-size: 28px;
    line-height: 31px;
    color: black;
    margin-bottom: 32px;
}

div.Popup.SocialPopup p {
    font-size: 18px;
    line-height: 31px;
    color: #4F4F4F;
    margin-bottom: 32px;
}

div.Popup.SocialPopup .SocialSharingButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.Popup.SocialPopup .SocialSharingButtons a {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
}

div.Popup.SocialPopup .SocialSharingButtons a.fb-share-button {
    background: #227BEF;
}

div.Popup.SocialPopup .SocialSharingButtons a.twitter-share-button {
    background: #2AA3EF;
}

div.Popup.SocialPopup .SocialSharingButtons a.whatsapp-share-button {
    background: #25D366;
}

div.Popup.SocialPopup .SocialSharingButtons a.copy-button {
    background: black;
}

div.Popup.SocialPopup .SocialSharingButtons a + a {
    margin-left: 16px;
}

div.Popup.SocialPopup .SocialSharingButtons a:hover,
div.Popup.SocialPopup .SocialSharingButtons a:focus {
    opacity: 0.8;
}

div.Popup.SocialPopup .SocialSharingButtons a img {
    margin-right: 16px;
}