.BoxConfirmFollow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 64px 50px;
    height: 532px;
    background: #FFFFFF;
    border-radius: 8px;
}

.BoxConfirmFollow h2 {
    font-size: 21px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 32px;
    margin-top: 16px;
}

.BoxConfirmFollow p {
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    color: #4F4F4F;
}

.BoxConfirmFollow .BoxConfirmFollow-options {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 32px;
}
