.BoxProfileInfo {
    margin-top: 32px;
}

.BoxProfileInfo .BoxProfileInfo_detailbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #E0E0E0;
    padding-top: 28px;
}

.BoxProfileInfo .BoxProfileInfo_detailbox .BoxProfileInfo_detailbox__item {
    text-align: center;
    max-width: 95px;
    background-color: #F3F5F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 12px;
    line-height: 14px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 8px;
    color: black;
    margin: 5px;
}

.BoxProfileInfo .BoxProfileInfo_detailbox .BoxProfileInfo_detailbox__item div.count {
    justify-content: center;
    font-size: 28px;
    line-height: 33px;
    color: black;
    font-weight: bold;
    font-family: "ChromaticaBlack";
}

.BoxProfileInfo .BoxProfileInfo_viewprofile {
    border-top: 1px solid #E0E0E0;
    padding-top: 28px;
}

.BoxProfileInfo .BoxProfileInfo_viewprofile .BoxProfileInfo_viewprofile__btn {
    font-size: 21px;
    line-height: 25px;
    color: #1A1919;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    width: max-content;
}

.BoxProfileInfo .BoxProfileInfo_viewprofile .BoxProfileInfo_viewprofile__btn img {
    margin-right: 12px;
    width: 19.5px;
    height: 19.5px;
}

.BoxProfileInfo .BoxProfileInfo_detailbox a span.category-icon {
    min-width: 0px !important;
}

.BoxProfileInfo .BoxProfileInfo_detailbox a.ItemLink {
    justify-content: center;
}

/* .ProfileEdit {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

a.ProfilePhotoLarge {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProfilePhotoName {
    position: absolute;
    font-size: 50px !important;
    color: black;
    font-weight: bold;
    margin-top: 0px;
    text-transform: lowercase;
}

.ProfilePhotoSmallName {
    position: absolute;
    text-align: center;
    color: black;
    text-transform: lowercase;
}

.BoxNewDiscussionProfileName {
    margin-left: 18px;
    font-size: 16px;
    margin-top: 4px;
    text-transform: lowercase;
    position: absolute;
}