.BoxFilter-Heading {
    margin-bottom: 12px;
}

.FilterMenu__Dropdown {
    position: relative;
    /* height: 44px; */
}

.FilterMenu__Dropdown .SelectWrapper:after {
    content: "";
    background: url('../../../../themes/alloprof/design/images/icons/arrowDown.svg');
    width: 14px;
    height: 16px;
    background-repeat: no-repeat;
    top: 60%;
}

.FilterMenu__Dropdown img {
    position: absolute;
    top: 29px;
    left: 10px;
    z-index: 0;
    width: 16px;
    height: 16px;
}

.FilterMenu__Dropdown select {
    border: none;
    border-color: initial !important;
    border-bottom: 1px solid;
    border-radius: 0;
    background: transparent !important;
    padding-bottom: 6px;
    padding-top: 20px;
    height: 60px;
    font-family: "ChromaticaMedium";
    font-size: 15px;
    line-height: 21px;
}

.FilterMenu .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.FilterMenu .toggle-wrap {
    display: block;
    position: relative;
    width: 44px;
    height: 24px;
}

.FilterMenu .toggle-wrap label {
    display: inline;
}

.FilterMenu .toggle-wrap input[type=checkbox] {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.FilterMenu .toggle-wrap input[type=checkbox] + label::before,
.FilterMenu .toggle-wrap input[type=checkbox] + label::after {
    content: "";
}

.FilterMenu .toggle-wrap input[type=checkbox] + label::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 24px;
    background-color: #fff;
    border-radius: 18px;
    border: 1px solid black;
    transition: background 0.4s;
    cursor: pointer;
}

.FilterMenu .toggle-wrap input[type=checkbox]:checked + label::before {
    background-color: #05BF8E;
    border-color: #05BF8E;
}

.FilterMenu .toggle-wrap input[type=checkbox] + label::after {
    display: block;
    position: absolute;
    top: 4.5px;
    left: 4.5px;
    width: 16px;
    height: 16px;
    border-radius: 17px;
    background-color: black;
    outline: 0;
    transition: left 0.4s;
    cursor: pointer;
}

.FilterMenu .toggle-wrap input[type=checkbox]:checked + label::after {
    left: 26px;
    border: 0;
    background-color: white;
}

.FilterMenu .label {
    font-size: 16px;
    line-height: 19px;
    color: black;
    margin-right: 20px;
}


/* Filter Popup CSS */
.FilterPopup .Body {
    overflow: hidden !important;
    max-height: max-content !important;
}

.FilterPopup h3 {
    font-size: 20px !important;
    padding-top: 0 !important;
}

.FilterPopup h3,
.FilterPopup h4 {
    text-align: left;
}

.FilterPopup h4 {
    font-size: 17px;
    color: #828282;
    margin-bottom: 15px;
    font-family: 'ChromaticaBold';
}

.FilterPopup .filter-block {
    padding-top: 17px;
    padding-bottom: 15px;
}

.FilterPopup .filter-block:not(:last-child) {
    border-bottom: 1px solid #DDDDDD;
}

.FilterPopup .FilterMenu .form-group {
    margin-top: 0 !important;
}

.FilterPopup .FilterMenu .label {
    font-size: 14px !important;
}

.FilterPopup .FilterMenu .toggle-wrap input[type=checkbox] + label::before {
    height: 23px !important;
}

.FilterPopup .mobile-grade {
    display: flex;
    overflow-x: auto;
    padding-bottom: 15px;
}

.FilterPopup .mobile-grade .item {
    white-space: nowrap;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    font-size: 14px;
    border-radius: 38px;
    background-color: #F2F2F2;
    margin: 0 5px;
    color: black;
}

.FilterPopup .mobile-grade .item.selected {
    background-color: #05BF8E;
    color: white;
}

.FilterPopup .modal-footer {
    background: #F5F3EF;
    width: calc(100% + 42px);
    padding: 20px;
    display: flex;
    margin-bottom: -21px;
    margin-left: -21px;
    justify-content: center;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.FilterPopup .btn-default {
    width: 120px !important;
    text-align: center;
    margin: 0 8px;
    padding: 10px 15px !important;
    justify-content: center;
}

/* Customize the label (the container) */
.custom-radio .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 7px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    color: black;
}

  /* Hide the browser's default radio button */
.custom-radio .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

  /* Create a custom radio button */
.custom-radio .checkmark {
    position: relative;
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


  /* When the radio button is checked, add a blue background */
.custom-radio .container input:checked ~ .checkmark {
    border-color: #05BF8E;
}

  /* Create the indicator (the dot/circle - hidden when not checked) */
.custom-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

  /* Show the indicator (dot/circle) when checked */
.custom-radio .container input:checked ~ .checkmark:after {
    display: block;
}

  /* Style the indicator (dot/circle) */
.custom-radio .container .checkmark:after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #05BF8E;
}