/* Ask a question form */

.AskQuestionForm .FormWrapper {
    transition: 0.3s all;
    display: none;
    margin-top: 20px;
}

.AskQuestionForm.AskQuestionFormPopup .FormWrapper {
    display: block;
}

.AskQuestionForm .FormWrapper.open {
    overflow: visible;
}

.AskQuestionForm .placeholder.close {
    height: 0;
    overflow: hidden;
}

.AskQuestionForm .vanilla-bjyl8i-richEditor-paragraphMenu {
    left: 20px;
}

.AskQuestionForm .content {
    padding: 15px !important;
    background: #eee !important;
    width: 100% !important;
    max-width: 100% !important;
    transition: 0.3s all;
    color: rgba(71, 82, 93, .8) !important;
    border-radius: 6px;
}

.AskQuestionForm .content .placeholder {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    color: #828282 !important;
}

.AskQuestionForm .content .placeholder .icon {
    border-radius: 50%;
    background: white;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
}

.AskQuestionForm .content .placeholder img {
    width: 27px;
}

.AskQuestionForm .selects {
    display: flex;
    margin-top: 40px;
}

.AskQuestionForm span.space {
    width: 30px;
}

.AskQuestionForm .selects>div {
    flex: 1;
}

.AskQuestionForm .Buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.AskQuestionForm {
    position: relative;
    z-index: 0;
    border-radius: 6px;
}

.AskQuestionForm .close-icon {
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;
    display: none;
}

.AskQuestionForm .close-icon.show {
    display: block;
}

.AskQuestionForm .richEditor-frame {
    border: none !important;
    background: transparent !important;
}

.AskQuestionForm .user-avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 16px;
    object-fit: cover;
}

.AskQuestionForm .BoxNewDiscussion-header {
    /* margin-bottom: 40px; */
    display: flex;
    align-items: center;
    width: 100%;
}

.AskQuestionForm .BoxNewDiscussion-header h1 {
    font-size: 21px;
    line-height: 25px;
}

.AskQuestionForm.BoxNewDiscussion {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

.BoxNewDiscussion .user-info {
    display: none;
}

.BoxNewDiscussion .user-info.show {
    display: block;
}

.BoxNewDiscussion .user-info .username {
    font-size: 15px;
    font-family: 'ChromaticaBlack';
    color: black;
}

.BoxNewDiscussion .user-info .meta {
    color: #828282;
    font-size: 12px;
}

.BoxNewDiscussion-header .AskQuestion,
.BoxNewDiscussion-header .clickToCreate {
    background: #eee !important;
    border-radius: 6px;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #828282;
    padding: 24px;
    width: 100%;
    cursor: pointer;
}

.AskQuestionFormPopup .BoxNewDiscussion-header .clickToCreate {
    display: none;
}

.AskQuestionForm .FormTitleWrapper {
    margin-bottom: 0;
    flex: 1;
    width: 100%;
}

.information-block {
    display: none;
}

.information-block.show {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 198px;
    background-color: white;
    border-radius: 8px;
    padding: 32px;
    margin-bottom: 40px;
}

.information-block > div {
    flex: 1;
    height: 100%;
    text-align: center;
}

.information-block .img-box {
    min-height: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.information-block p {
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin: 0;
}


/* Ask a question popup */

.QuestionPopup .BoxNewDiscussion {
    padding: 0 !important;
    margin-top: -30px;
    margin-left: -15px;
    margin-right: -15px;
}

.QuestionPopup .BoxNewDiscussion .avatar {
    width: 44px;
    height: 44px;
    min-width: 44px;
    border-radius: 50%;
    margin-top: 15px;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
}

.QuestionPopup .BoxNewDiscussion .editor {
    width: calc(100% - 55px);
    display: inline-block;
    position: relative;
}

.QuestionPopup .BoxNewDiscussion .editor .richEditor-text {
    padding-left: 0;
    padding-right: 0;
    height: calc(100vh - 240px);
    overflow-y: auto;
}

.QuestionPopup .BoxNewDiscussion .clickToCreate {
    position: absolute;
    left: 10px;
    top: 18px;
    color: #828282;
}

.QuestionPopup .BoxNewDiscussion .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.QuestionPopup .BoxNewDiscussion .content {
    margin-left: 10px;
}

.QuestionPopup .BoxNewDiscussion .bodybox-wrap {
    text-align: left;
}

.QuestionPopup .BoxNewDiscussion .Buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end !important;
    flex-direction: row !important;
    margin-bottom: 10px;
    padding-right: 10px;
}

.QuestionPopup .BoxNewDiscussion .richEditor .richEditor-frame {
    background-color: transparent !important;
}

.QuestionPopup .BoxNewDiscussion .bottom {
    position: fixed;
    width: 99%;
    bottom: 0;
    z-index: 2;
}

.QuestionPopup .BoxNewDiscussion .richEditor-embedBar {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 3;
    width: fit-content;
}

.QuestionPopup .select2-selection {
    text-align: left;
    background-color: #F3F5F7 !important;
}

.QuestionPopup .Buttons a {
    height: 24px;
    margin-right: 10px !important;
}

.QuestionPopup .mobile-categories {
    display: flex;
    padding-bottom: 15px;
    overflow-x: auto;
    border-bottom: 1px solid #DDDDDD !important;
}

.QuestionPopup .mobile-categories .category-item {
    display: flex;
    align-items: center;
    background: #F2F2F2;
    border-radius: 99px;
    height: 40px;
    padding: 4px;
    font-size: 12px;
    margin-right: 10px;
    padding-right: 15px;
    color: black;
    white-space: nowrap;
}

.QuestionPopup .mobile-categories .category-item.selected {
    background-color: #EEF05D;
}

.QuestionPopup .mobile-categories .category-item .icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    margin-right: 8px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.QuestionPopup .mobile-categories .category-item .icon img {
    width: 100%;
    height: auto;
    max-height: 80%;
    object-fit: contain;
}

.QuestionPopup .rich-select {
    border-bottom: none;
    background-color: #F3F5F7;
}

.RulesPopup .information-block > div {
    width: 100%;
}

.RulesPopup .slick-dots {
    left: 0;
}

.RulesPopup .information-block.show {
    padding: 20px !important;
}

.RulesPopup .information-block .slick-dots li {
    margin: 0 !important;
}

.RulesPopup .information-block .slick-dots li button:before {
    font-size: 12px;
}
