.Header .ToggleFlyout .MeButton.unauthorized {
    background-color: transparent;
    display: flex;
}

.MeBox.FlyoutRight .Flyout.unauthorized {
    border-top: none;
    min-width: 218px!important;
    /* height: 176px; */
    padding: 32px!important;
    top: 48px;
}

.MeBox.FlyoutRight .Flyout.unauthorized li {
    text-align: center;
    height: 44px;

}

.MeBox.FlyoutRight .Flyout.unauthorized li a:hover {
    border: 1px solid #000000;
    border-radius: 38px;
    background-color: white!important;
    font-weight: 600;
    color: black;
    /* padding: 13px 28px; */
}

.MeBox.FlyoutRight .Flyout.unauthorized li a {
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
    color: black;
    padding: 12px;
}

