/* Report post(Flag) */
.Comment a.FlagContentPopup:before {
    background: none;
    display: none;
    content: none;
}


/* Basic Modal  */

div.Popup .Body {
    border-radius: 24px;
}

div.Popup .Footer {
    height: 0 !important;
    z-index: 4;
}

div.Popup .Footer .Close span {
    font-size: 40px;
    font-weight: 100;
    font-family: ChromaticaThin;
    color: black;
}

div.Popup .Border {
    min-width: 300px;
    width: auto;
}

div.Popup.CustomPopup .Body {
    overflow: initial !important;
    padding: 8% 5%;
    max-height: fit-content !important;
    box-shadow: 0px 16px 40px -5px rgba(108, 103, 103, 0.05);
    border-radius: 16px;
    border: 1px solid #DDDDDD;
}

div.Popup.CustomPopup .Body .Content {
    text-align: center;
}

div.Popup.FlagContentPopup .Body .Content img.FlagAvatar {
    margin-bottom: 16px;
}

div.Popup.FlagContentPopup .Body .Content h2 {
    color: black;
    font-size: 28px;
    line-height: 31px;
}

div.Popup.FlagContentPopup .Body .Content .FlagWarningList {
    text-align: left;
}

div.Popup.FlagContentPopup .Body .Content .FlagWarningList li label {
    font-size: 18px;
    line-height: 21px;
    color: black;
    font-weight: 600;
    margin-top: 42px;
    position: relative;
}

div.Popup.FlagContentPopup .Body .Content .FlagWarningList li label input[type='radio'] {
    visibility: hidden;
    margin-right: 16px;
}

div.Popup.FlagContentPopup .Body .Content .FlagWarningList li label input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -3px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid black;
}

div.Popup.FlagContentPopup .Body .Content .FlagWarningList li label input[type='radio']:checked:before {
    width: 11px;
    height: 11px;
    border-radius: 11px;
    top: 5px;
    left: 6.5px;
    position: absolute;
    content: '';
    display: inline-block;
    visibility: visible;
    background: black;
}

div.Popup.FlagContentPopup .Body .Content .FlatReportButton {
    margin-top: 40px;
}

div.Popup.FlagContentPopup .Body .Content .FlatReportButton input {
    margin: 0 auto;
}

.SearchPopup {
    height: 100vh;
    overflow: hidden;
}

.SearchPopup .modal-header {
    box-shadow: 0px 8px 20px rgb(26 32 44 / 5%);
    padding: 15px 30px;
    z-index: 3;
    position: relative;
 }

 .SearchPopup .modal-footer,
 .SearchPopup .modal-body {
    padding: 30px 30px;
 }

 .SearchPopup .modal-header h3 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 18px;
 }

 .SearchPopup h2 {
     text-align: center;
     margin-bottom: 20px;
 }

 .SearchPopup .modal-header .Header-left__search {
     margin-top: 20px;
 }

 .SearchPopup .mobile-categories {
    max-height: calc(100vh - 235px);
    overflow-y: auto;
 }

 .SearchPopup .mobile-categories li {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
 }

.SearchPopup .mobile-categories li > div {
     height: 120px;
     margin-right: 12px;
     width: 90px;
     position: relative;
}

.SearchPopup .mobile-categories li > div > svg {
    position: absolute;
    right: 0;
    top: 0;
}

.SearchPopup .Body .FormWrapper {
    padding: 0 !important;
}

.SearchPopup a.Close {
    right: 15px !important;
    top: 5px !important;
}

.SearchPopup .mobile-categories li .category-icon {
    width: 64px;
    height: 64px;
    background: #F2F2F2;
    margin: 0 auto;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SearchPopup .mobile-categories li .name {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 11px;
    display: block;
    margin-top: 7px;
    line-height: 15px;
    color: #1A1919;
 }

.SearchPopup .Footer {
    position: relative !important;
}

 .SearchPopup .mobile-categories li .category-icon img {
    max-height: 64px;
    max-width: 64px;
    object-fit: cover;
 }

 .SearchPopup a.Close {
    position: fixed !important;
    right: 15px;
    top: 5px;
}

.SearchPopup .Border {
    padding: 0;
    width: 100% !important;
    height: 100vh;
    min-width: 0 !important;
}
.SearchPopup .Border .Body {
    height: 100%;
    min-height: 100vh;
    border-radius: 0 !important;
    max-height: 100% !important;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 !important;
}


/* Social Sharing Popup */

div.Popup.SocialPopup .Border {
    width: initial;
}

div.Popup.SocialPopup .Body {
    padding: 64px !important;
    max-height: fit-content !important;
}

div.Popup.SocialPopup.FlagPopup .Body {
    padding: 40px !important;
}

div.Popup.SocialPopup h2 {
    font-size: 21px;
    line-height: 25px;
    color: black;
    margin-bottom: 32px;
}

div.Popup.SocialPopup p {
    font-size: 18px;
    line-height: 31px;
    color: #4F4F4F;
    margin-bottom: 32px;
}

div.Popup.SocialPopup .Hidden {
    display: none !important;
}

div.Popup.SocialPopup p.LinkCopiedText {
    margin-bottom: 0;
    color: black;
    font-size: 21px;
    font-weight: 700;
}

div.Popup.SocialPopup .SocialSharingButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.Popup.SocialPopup .SocialSharingButtons a {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
}

div.Popup.SocialPopup .SocialSharingButtons a.fb-share-button {
    background: #227BEF;
}

div.Popup.SocialPopup .SocialSharingButtons a.twitter-share-button {
    background: #2AA3EF;
}

div.Popup.SocialPopup .SocialSharingButtons a.whatsapp-share-button {
    background: #25D366;
}

div.Popup.SocialPopup .SocialSharingButtons a.copy-button {
    background: black;
}

div.Popup.SocialPopup .SocialSharingButtons a + a {
    margin-left: 16px;
}

div.Popup.SocialPopup .SocialSharingButtons a:hover,
div.Popup.SocialPopup .SocialSharingButtons a:focus {
    opacity: 0.8;
}

div.Popup.SocialPopup .SocialSharingButtons a img {
    margin-right: 16px;
}

/* Delete discussion popup */
.DeleteDiscussionPopup {
    max-width: 600px;
}

.DeleteDiscussionPopup h1 {
    text-align: center;
    font-size: 21px;
    margin-bottom: 20px;
}

.DeleteDiscussionPopup .P {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: black;
    margin-bottom: 15px;
}

.DeleteDiscussionPopup .Body {
    padding: 25px !important;
}

.DeleteDiscussionPopup .Buttons {
    display: flex;
    justify-content: center;
}

.DeleteDiscussionPopup .Buttons input {
    margin: 0 10px !important;
    line-height: 15px;
}

.DeleteDiscussionPopup #Form_DeleteMessage {
    max-height: 300px;
    overflow-y: auto;
}

/* Account Banned popup */

div.Popup.BanPopup #Message {
    color: black;
    font-size: 18px;
    line-height: 21px;
    margin: 16px 0 32px;
}

div.Popup.BanPopup .SplashInfo {
    max-width: 500px;
}

div.Popup.BanPopup .btn {
    margin: 0 auto;
}


/* Signin popup */

.SignInPopup .SocialIcon {
    background: transparent !important;
    min-width: 190px !important;
}

.SignInPopup .SocialIcon .Icon {
    display: none;
}

.SignInPopup .SocialIcon .Text {
    font-size: 16px;
    font-weight: 600;
    color: black !important;
}

.SignInPopup .SocialIcon .Text:hover {
    opacity: 0.6;
}

.QuestionPopup {
    position: sticky !important;
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
}

/* Popup scrollToAskQuestionFormPopup hasRichEditor */

.scrollToAskQuestionFormPopup .Border {
    max-width: 580px !important;
}

.scrollToAskQuestionFormPopup .Border .Body {
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
    max-height: initial !important;
    border-radius: 6px !important;
}

.scrollToAskQuestionFormPopup .Border .Body::-webkit-scrollbar {
    width: 0px;
}

.scrollToAskQuestionFormPopup .Border .Body .information-block.show {
    margin-bottom: 0;
}

.scrollToAskQuestionFormPopup.Popup.hasRichEditor .FormWrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 16px;
    padding-top: 0;
}

.scrollToAskQuestionFormPopup .Border .Body .AskQuestionForm {
    padding: 24px;
}

.scrollToAskQuestionFormPopup.Popup.hasRichEditor .Border .Body .AskQuestionForm .richEditor-textWrap,
.scrollToAskQuestionFormPopup.Popup.hasRichEditor .Border .Body .AskQuestionForm .richEditor .richEditor-frame,
.scrollToAskQuestionFormPopup.Popup.hasRichEditor .Border .Body .AskQuestionForm .richEditor-text {
    min-height: 105px;
}

.scrollToAskQuestionFormPopup.Popup.hasRichEditor .Border .Body .AskQuestionForm .richEditor-textWrap {
    max-height: 105px;
    overflow: auto;
}

.scrollToAskQuestionFormPopup.Popup.hasRichEditor .Border .Body .AskQuestionForm .richEditor-embedBar {
    position: absolute;
    bottom: -135px;
    z-index: 1;
    left: -25px;
    width: initial;
}

.scrollToAskQuestionFormPopup.Popup.hasRichEditor .Border .Body .AskQuestionForm .selects {
    margin-top: 0;
}

.scrollToAskQuestionFormPopup.Popup.hasRichEditor .Border .Body .AskQuestionForm .Buttons {
    margin-top: 10px;
}

.RulesPopup h3 {
    padding-top: 0 !important;
}

.RulesPopup .Footer::before {
    content: '×';
    font-size: 40px;
    position: absolute;
    top: -11px;
    right: 10px;
    display: block;
    font-weight: 100;
    font-family: ChromaticaThin;
    color: black;
}

/* Leave conversation confirmation popup css */

.leave-conversation-popup {
    padding: 60px 40px 40px 40px;
    max-width: 540px;
    text-align: center;
}

.leave-conversation-popup h2 {
    margin-bottom: 16px;
}

.leave-conversation-popup P {
    font-size: 16px;
    color: black;
}

.leave-conversation-popup .Buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px !important;
}

.leave-conversation-popup .Buttons .Close,
.leave-conversation-popup .Buttons .mobile-close {
    border: none !important;
    line-height: initial;
    text-decoration: underline;
}


/* Add people to conversation popup */

.AddToConversationPopup .Border {
    width: 100% !important;
    max-width: 580px !important;
}

.AddToConversationPopup hr {
    margin: 16px 0;
}

.AddToConversationPopup .Border .Body{
    padding: 24px !important;
}

.AddToConversationPopup form#Form_AddPeople > div {
    display: flex;
    align-items: center;
}

.AddToConversationPopup .Border h2 {
    text-align: left;
}

.AddToConversationPopup .TextBoxWrapper {
    flex: 1;
}

.AddToConversationPopup .TextBoxWrapper ul {
    height: 56px !important;
    background: #f8f8f8;
    border: none;
}

.AddToConversationPopup .TextBoxWrapper ul input {
    background: transparent;
    width: 100% !important;
}

.AddToConversationPopup .Buttons {
    margin: 0;
    margin-left: 16px;
}

.AddToConversationPopup #ConversationForm {
    margin-bottom: 0;
}

.AddToConversationPopup #Form_Createaconversation {
    margin-top: 24px;
    margin-left: auto;
}

.AddToConversationPopup .ql-editor {
    text-align: left;
}

@media screen and (max-width: 958px) {
    div.Popup.BanPopup #Message {
        font-size: 15px;
    }

    div.Popup.SocialPopup {
        transform: none !important;
        left: 0 !important;
        top: unset !important;
        bottom: 0;
    }

    div.Popup.SocialPopup .Footer {
        width: 44px;
        height: 44px !important;
        border-radius: 23px;
        top: 24px;
        right: 24px;
        position: absolute;
    }

    div.Popup.SocialPopup .Footer span {
        width: 44px;
        height: 44px;
        text-align: center;
    }

    div.Popup.SocialPopup .Footer .Close {
        width: 44px;
        height: 44px;
        position: relative;
        top: 0;
        left: 0;
    }

    div.Popup.CustomPopup.SocialPopup .Body .FlagAvatar {
        display: none;
    }

    div.Popup.SocialPopup .SocialSharingButtons span {
        display: none;
    }

    div.Popup.SocialPopup .SocialSharingButtons a {
        padding: 16px;
    }

    div.Popup.SocialPopup .SocialSharingButtons {
        justify-content: center;
    }

    div.Popup.SocialPopup .Body {
        padding: 24px !important;
    }

    div.Popup.SocialPopup .Border {
        min-width: 100vw;
    }

    .DeleteDiscussionPopup h1 {
        text-align: left;
    }

    div.Popup.CustomPopup.SocialPopup h2.d-mobile {
        font-size: 21px;
        text-align: left;
        margin-bottom: 30px;
        display: block !important;
    }
    div.Popup.SocialPopup p {
        font-size: 18px;
        line-height: 19px;
        color: black;
    }

    .MeButton-user .MeBox-mobileClose {
        font-size: 69px;
        z-index: 200;
        font-size: 45px;
        font-weight: 100;
        font-family: ChromaticaThin;
        color: black;
    }

    .AddToConversationPopup form#Form_AddPeople > div {
        flex-direction: column;
    }

    .AddToConversationPopup .TextBoxWrapper {
        margin-bottom: 16px;
        width: 100%;
    }

    .AddToConversationPopup .Buttons {
        margin-left: 0;
    }

    .AddToConversationPopup .Buttons input.submit {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .MobilePopup .Footer {
        display: none !important;
    }
    .MobilePopup .mobile-footer {
        position: absolute;
        right: 28px;
        top: 14px;
    }

    .Popup .leave-conversation {
        margin-right: 10px;
    }

    .MobilePopup .mobile-footer span {
        font-size: 40px;
        font-weight: 100;
        font-family: ChromaticaThin;
        color: black;
    }

    .leave-conversation-popup {
        padding: 36px 16px 16px 16px;
    }

    .leave-conversation-popup h2 {
        text-align: center !important;
    }
}