.BoxConfirmFollow {
    background: #FFFFFF;
}

.BoxConfirmFollow h2 {
    font-size: 21px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 32px;
    margin-top: 16px;
}

.BoxConfirmFollow p {
    font-size: 15px !important;
    line-height: 18px !important;
    margin: 0 !important;
    padding: 0 !important;
    color: #4F4F4F;
}

.BoxConfirmFollow img {
    margin-bottom: 20px;
    width: 96px;
}

.BoxConfirmFollow .BoxConfirmFollow-options {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 32px;
}

.BoxConfirmFollow .BoxConfirmFollow-options button,
.BoxConfirmFollow .BoxConfirmFollow-options a {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    margin: 0 10px;
}

.modal-confirm {
    padding-bottom: 15px;
}

.followButton {
    text-transform: none !important;
}

.flag-content input {
    margin: 0 auto;
}

.flag-content .FlagWarningList {
    margin-bottom: 30px;
}

.flag-content .FlagWarningList ul li {
    font-size: 15px;
    text-align: left;
}

.flag-content .FlagWarningList ul li label {
    font-size: 15px !important;
}

.flag-content .FlagWarningList .custom-radio {
    margin: 15px 0;
}

.flag-content .FlagWarningList .custom-radio .container {
    justify-content: flex-start;
}

.flag-content .FlagWarningList .custom-radio .container span.title {
    margin-left: 10px;
}

@media screen and (max-width: 958px) {
    .flag-content h2 {
        text-align: left;
    }

    .FlatReportButton {
        background: #F5F3EF;
        padding: 24px;
        margin-bottom: -25px;
        margin-left: -24px;
        margin-right: -25px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .FlatReportButton button,
    .FlatReportButton input {
        background: #F5F3EF !important;
    }

    .flag-content input,
    .flag-content button {
        margin: 0 10px;
    }
}

